@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}


/* header rillyted caj */

header {
    margin: 35px 240px 0px 240px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul,
div {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;
}

.nav-title {
    width: 50px;
    height: 25px;
    margin-right: 20px;
}

.gamerar-nav {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G-related {
    color: #FF42A5;
}

.new-border {
    align-items: center;
    padding-left: 44px;
    padding-right: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 280px;
    height: 46px;
    flex-shrink: 0;
    margin-top: 0px;
}



.on-img {
    width: 33.916px;
    height: 24px;
    flex-shrink: 0;
    padding-right: 0px;
}

/* banner styles */
.main-my-style {
    padding: 35px 240px 0px 240px;
    margin-top: 230px;
    margin-right: 1020px;
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}


.banner {
    flex-direction: column;
    margin-top: 190px;
    display: flex;

}

.banner-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0px;
    display: flex;
}

.banner-on-title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.on-btn {
    margin-top: 45px;
    padding: 11px 20px;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    height: 65px;
    width: 155px;
    align-items: center;
    border: 0px;
}

.to-btn {
    margin-top: 45px;
    width: 185px;
    height: 65px;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.btn-title {
    display: flex;
    gap: 25px;
}

.on-section {
    margin-right: 70px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);

}

.to-section {
    margin-left: 70px;
    margin-top: 19px;
    margin-right: 240px;
}




/* main section styles */


/* We are gamer section styles */


.gamer {
    padding: 95px 240px 96px 860px;
    background-color: rgba(255, 66, 165, 0.03);
    background-image: url("../images/pngwing\ 4.png");
    background-repeat: no-repeat;
}

.section-title {
    padding-left: 180px;
    width: 325px;
    height: 56px;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-descripton {
    width: 520px;
    height: 120px;
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.the-btn {
    padding-left: 300px;
}

.main-btn {
    width: 208px;
    height: 65px;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
    border: 0px;
}

.btn-descripton {
    width: 520px;
    height: 88px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

/* section styles */
.section-itms {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.font-styles {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.section-to {
    margin-top: 0px;
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

/* img style */
.skills-container {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    gap: 24px;
    width: 340px;
    height: 300px;
    padding-left: 240px;
    padding-right: 240px;
}

.Online-info-container {
    gap: 24px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    padding-left: 240px;
    padding-right: 240px;

}

/* 2 section styles */
.paly-games {
    margin-top: 120px;
    margin-left: 238px;
    margin-bottom: 320px;
    width: 610px;
    height: 550px;
    background-image: url("../images/Rectangle\ 67.png");
    background-repeat: no-repeat;
}

.img-mini {
    margin-left: 500px;
    width: 318px;
    height: 318px;
    border-radius: 8px;
    border: 0px solid #FFF;
    position: relative;
    bottom: 520px;
}

.text-styles {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paly-games-section {
    width: 420px;
    height: 180px;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    padding-left: 800px;
    padding-right: 240px;
    padding-top: 300px;
    margin-bottom: 24px;
}

.section-description {
    width: 480px;
    height: 90px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 800px;
    padding-right: 240px;
    padding-bottom: 240px;
    margin-top: 24px;
}

/* hover section styles */
.hover-colamn {
    padding: 220px 280px 226px 140px;
    width: 1100px;
    height: 427px;
    flex-shrink: 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.img-hover {
    padding: 120px 280px 226px 240px;
    justify-content: space-around;
    margin-right: 27px;
}


.btn-1 {
    width: 243px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.btn-2 {
    border-radius: 50px;
    background: #FFF;
    width: 281px;
    height: 60px;
    flex-shrink: 0;
}

.btn-3 {
    width: 248px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.btn-4 {
    width: 295px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.btn-5 {
    width: 231px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.on-button {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
}




/* footer section styles */
.footer-conteiner {
    width: 650px;
    height: 236px;
    flex-shrink: 0;
    background: #0B0223;
    padding: 120px 550px 130px 550px;
}

.color {
    color: #FF42A5;
}

.img-styles {
    width: 86.041px;
    height: 40px;
    padding-top: 50px;
    padding-right: 0;
}

.footer-title {
    color: #FFF;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    padding-left: 80px;
}

.footer-lind-items {
    color: #FFF;
    font-family: Work Sans;
    font-size: 13px;
    font-weight: 500;
    gap: 24px;
}
.footer-img{
    width: 55px;
    height: 40px;
    gap: 40px;
    margin-top: 70px;
    padding-left: 190px;
}