@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}


/* header rillyted caj */

header {
    padding: 65px 240px 0px 240px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul,
div {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 32px;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;
}

.nav-title {
    width: 50px;
    height: 25px;
    margin-right: 20px;
}

.gamerar-nav {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G-related {
    color: #FF42A5;
}

.new-border {
    align-items: center;
    padding-left: 44px;
    padding-right: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 280px;
    height: 46px;
    flex-shrink: 0;
    margin-top: 0px;
}



.on-img {
    width: 33.916px;
    height: 24px;
    flex-shrink: 0;
    padding-right: 0px;
}

/* banner styles */
.banner {
    flex-direction: column;
}

.banner-title {
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-on-title {
    font-size: 80px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.on-btn {
    margin-top: 45px;
    padding: 11px 20px;
    gap: 10px;
    border-radius: 48px;
    background-color: #FF42A5;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    height: 65px;
    width: 155px;
    align-items: center;
    border: 0px;
}

.to-btn {
    margin-top: 45px;
    width: 185px;
    height: 65px;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.btn-title{
    display: flex;
    gap: 25px;
}